* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: lato, Arial, serif;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-thumb {
    background: #f53b57;
    border-radius: 5px;
}

::-webkit-scrollbar-track {
    background: #d2dae2;
}


nav {
    width: 100%;
    height: 8vh;
    top: 0;
    background: #3b3b3b;
    position: sticky;
    z-index: 10;
    box-shadow: 0 5px 10px 0 #3a3a3a;
}

.main-section {
    width: 100%;
    height: 92vh;
    background-color: #252934;
    border-bottom: 5px solid orangered;
    position: relative;
}

.scene {
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    perspective: 600px;
}

.box {
    position: relative;
    width: 200px;
    height: 300px;
    transform-style: preserve-3d;
    transform: rotateZ(90deg);
}

.side {
    position: absolute;
    border: 2px solid #252934;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    background-color: #d1d8e0;
}

.front {
    transform: rotateX(180deg) translateZ(50px);
    width: 200px;
    height: 300px;
    background-color: #252934;
}


.popper {
    display: none;
    position: absolute;
    top: 90%;
    right: 0;
    left: 100%;
    margin-left: 4px;
    clip-path: polygon(18% 10%, 18% 0, 100% 0, 100% 100%, 18% 100%, 18% 30%, 9% 20%);
    border-radius: 10px;
    width: 100px;
    background: #fde476;
    color: black;
    font-size: 1rem;
    font-weight: bolder;
    padding: 10px 15px 10px 35px;
}

.back {
    transform: rotateX(0deg) translateZ(50px);
    width: 200px;
    height: 300px;
}

.top {
    transform: rotateX(90deg) translateZ(50px);
    width: 200px;
    height: 100px;
}

.bottom {
    transform: rotateX(-90deg) translateZ(250px);
    width: 200px;
    height: 100px;
}

.left {
    transform: rotateY(-90deg) translateZ(50px);
    width: 100px;
    height: 300px;
}

.right {
    transform: rotateY(90deg) translateZ(150px);
    width: 100px;
    height: 300px;
}

.front img {
    width: 100%;
    height: auto;
    border: 2px solid #d1d8e0;
}

.spin {
    transform: rotateX(180deg);
    transition: transform 3s;
}

.plain {
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 200px;
    background-color: pink;
}

.plain-anime {
    width: 0;
    transition: width 1s;
}

.dots {
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 20px;
    width: 80px;
}

.dot {
    display: inline-block;
    height: 20px;
    width: 20px;
    border: 2px solid white;
    border-radius: 50%;
}

.nameplate {
    color: white;
    position: absolute;
    top: 75%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.namebox {
    font-family: lato, Arial, serif;
    text-align: center;
}

.name {
    font-size: 2.5em;
    overflow: hidden;
    display: none;
    border-right: .15em solid white;
    white-space: nowrap;
    margin: 0 auto;
    letter-spacing: .10em;
}

@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

@keyframes cursor {
  from, to { border-color: transparent }
  50% { border-color: white; }
}

.nameplate h3 {
    display: none;
    margin-top: 1em;
    color: orangered;
}
