{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Aman Varshney</title>
    <link rel="stylesheet" href="{% static 'Profile/main-section.css' %}">
    <link rel="stylesheet" href="{% static 'Profile/skills-section.css' %}">
    <link rel="stylesheet" href="{% static 'Profile/project-section.css' %}">
    <link rel="stylesheet" href="{% static 'Profile/about-section.css' %}">
</head>
<body>
    {% block profile-section %}
    {% endblock %}
    {% block skill-section %}
    {% endblock %}
    {% block project-section %}
    {% endblock %}
    {% block about-section %}
    {% endblock %}
    <script type="text/javascript" src="{% static 'Profile/index.js' %}" ></script>
</body>
</html>