{% extends 'Profile/base.html' %}
{% load static %}

{% block profile-section %}
    <header class="main-section" id="main-section">
        <img class="bolt-animation" src="{% static 'Profile/assets/bolt.gif' %}" alt="">
        <img class="name-logo" src="{% static 'Profile/assets/aman-logo.png' %}" alt="">
    </header>
    <nav>
        <a href="#skill-section">SkillSet</a>
        <a href="#project-section">Projects</a>
        <a href="#about-section">About</a>
        <a class="contact-button">Contact</a>
        <a href="{% url 'blog_home' %}" class="blog-button">BLOG</a>
    </nav>
{% endblock %}

{% block skill-section %}

    <section class="skills-section" id="skill-section">
        <div class="skill-grid">
            <div class="skill">SkillSet</div>
            <div class="skillset-group">
                {% for i in skillset %}
                    <div class="card-design">
                        <div class="card">
                            <h2 class="skillname">{{ i.skillname }}</h2>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>

{% endblock %}

{% block project-section %}
    <section class="project-section" id="project-section">
        <div class="project-page">
            <div class="project_headline">Projects</div>
            <div class="project-group">
                {% for i in projects %}
                    <div class="projects-card">
                        <div class="img-container">
                            <img src="{{ i.project_image.url }}" alt="{{ i.project_name }} Image">
                        </div>
                        <div>
                            <h2>{{ i.project_name }}</h2>
                        </div>
{#                        <p>{{ i.project_description }}</p>#}
                        <div class="project-card-buttons">
                            <a href="{{ i.project_link }}" target="_blank">OPEN</a>
                            <a class="moreinfo-button">MORE INFO</a>
                        </div>
                    </div>
                {% endfor %}
            </div>
            <div class="project-nav">
                <button class="project-nav-prev"><img src="{% static 'Profile/assets/prev_arrow.svg' %}" alt=""></button>
                <button class="project-nav-next"><img src="{% static 'Profile/assets/next_arrow.svg' %}" alt=""></button>
            </div>
        </div>
    </section>
{% endblock %}

{% block about-section %}
    <section class="about-section" id="about-section">
        <div class="about-card-container">
            <div class="about-card">
                <div class="scene">
                    <div class="box">
                        <div class="side front">
                            <img src="{% static 'Profile/assets/aman.jpg' %}" alt="Aman">
                            <div class="popper">It's me</div>
                        </div>
                        <div class="side back"></div>
                        <div class="side top"></div>
                        <div class="side bottom"></div>
                        <div class="side left"></div>
                        <div class="side right"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="about-content">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad adipisci aut dolor dolore dolorum duc
                imus eius eligendi enim exercitationem, explicabo maiores nam nihil nisi odit.</p>
            <div class="about-sociallinks"></div>
        </div>
    </section>
{% endblock %}

{% block contact-section %}
    <div class="contact-card">
        <input type="text">
        <div></div>
        <div></div>
    </div>
{% endblock %}